.col {
    width: 100%;
}

.row {
    display: flex;
    gap: 10px;
    text-align: left;
    margin-bottom: 21px;
}

/* Imagem */

label.area {
    display: block;
}

.picture {
    width: 400px;
    aspect-ratio: 16/9;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 10px solid currentColor;
    cursor: pointer;
    transition: all 0.5s ease;
}

.picture:hover {
    color: rgb(255, 165, 0);
    box-shadow:  hsl(0, 0%, 100%) 0px 7px 29px 0px; 
}

.picture:active {
    background-color: white;
    color:  rgb(255, 165, 0);
    box-shadow: hsl(0, 0%, 100%) 0px 0px 0px 0px;
}

.picture:focus {
    color: rgb(255, 165, 0);
    box-shadow: hsl(0, 0%, 100%) 0px 0px 0px 0px;
}

.picture img{
    max-width: 100%;
    object-fit: cover;
}

/* Imagem */

.msg {
    padding: 10px;
    margin-bottom: 23px;
    background-color: orange;
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
}

textarea {
    width: 350px;
    height: 200px;
    margin-top: 9px;
    resize: none;
    font-weight: 500;
    font-size: 0.9rem;    
    color: black;
    background-color: #FFE4C4;
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    transition: .4s;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    display: inline;
    margin-top: 9px;
    width: 100%;
    height: 25px;
    font-weight: 500;
    font-size: 0.8rem;    
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    transition: .4s;
}

textarea:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

input[type="text"]:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

textarea:focus {
    box-shadow: 0 0 0 .15vw rgb(255, 177, 34);
}

input[type="text"]:focus {
    box-shadow: 0 0 0 .15vw rgb(255, 177, 34);
}

input[type="reset"],
input[type="submit"] {
    margin: auto;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: black;
}

input[type="reset"]:hover {
    letter-spacing: 3px;
    background-color:orange;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(255, 165, 0) 0px 7px 29px 0px; 
}

input[type="reset"]:active {
    letter-spacing: 3px;
    background-color: orange;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(255, 165, 0) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

input[type="submit"]:hover {
    letter-spacing: 3px;
    background-color:green;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(30, 255, 0) 0px 7px 29px 0px; 
}

input[type="submit"]:active {
    letter-spacing: 3px;
    background-color: green;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(30, 255, 0) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}